*, html {
	margin: 0px;
	padding: 0px;
	border: none;
}

body {
    background:url("/images/background1.jpg") top center no-repeat;
    margin: 0;
    padding: 0;
    background-color: #141723;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
	width: 100%;
	height: 100%;
}

#container {

    width: 720px;
    margin: 0 auto;
}

#mainContent {
    padding: 0;
    min-height: 480px;
}

img {
    border:0px;
}

/*LINKS*/

#mainContent a:link, #mainContent a:visited {
    color:#000;
    text-decoration:none;
    font-size:18px;
}

#mainContent a:hover, #mainContent a:active {
    color:#000;
    text-decoration:none;
    font-size:18px;
}

/*STYLES FOR CSS POPUP*/

#blanket {
    background-color:#fff;
    opacity: 0.65;
    *background:none;
    position:absolute;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
    height: 100% !important;
}

#popUpDiv {
    position:relative;
    background:#fff;
    width:720px;
    height:530px;
    border:4px solid #000;
    z-index: 9002;
	margin: 93px auto 0px auto;
}
.popup-content {
    margin:20px;
}
.headline {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #bf1e2e;
    text-align: center;
    margin-top: 20px;
}
.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #666666;
    font-weight: bold;
    text-align: center;
}
.footer {
    width: 100%;
}
.ad {
    float: left;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    text-align:center;
}
.pre-sell-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    width: 520px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.questionnaire {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    float: left;
    width: 460px;
    text-align: center;
}
#yesdiv:hover {
    background-color:yellow;    
    cursor:pointer;
}
yesdiv:hover {
    background-color:yellow;
    cursor:pointer;
}
#q1 {
    display:inline;
}
#q2 {
    display:none;
}
#q3 {
    display:none;
}
#q4 {
    display:none;
}
#q5 {
    display:none;
}
#q6 {
    display:none;
}
#q7 {
    display:none;
}
#q8 {
    display:none;
}
.sliderWrap {
margin: -141px auto 0 auto;
position: relative;
background: #ccc;
width: 300px;
height: 159px;
text-align: center;
}
.openCloseWrap {
position: absolute;
bottom: 0;
font-size: 12px;
font-weight: bold;
}